.saved-news {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: #f5f6f7;
  padding-top: 62px;
  padding-bottom: 62px;
}

@media screen and (max-width: 1350px) {

  .saved-news__box {
    max-width: 688px;
    grid-template-columns: repeat(auto-fit, 224px);
    grid-gap: 8px;
  }
}

@media screen and (max-width: 800px) {
  .saved-news__box {
    margin-left: 40px;
    margin-right: 40px;
  }

  .saved-news {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 550px) {
  .saved-news {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}