.saved-news {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: #f5f6f7;
  padding-top: 62px;
  padding-bottom: 62px;
}

.saved-news__box {
  margin-left: auto;
  margin-right: auto;
  max-width: 1237px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}