.about {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.about__avatar {
  max-width: 464px;
  max-height: 464px;
  border-radius: 1000px;
  margin: 80px 56px 80px 104px;
}

.about__text {
  margin-top: 131px;
  margin-bottom: 279px;
}

.about__title {
  max-width: 496px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
}

.about__description {
  max-width: 600px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 24px 0 0 0;
}

@media screen and (max-width: 1300px) {
  .about__avatar {
    width: 300px;
    height: 300px;
  }

  .about__text {
    margin-right: 40px;
  }
}

@media screen and (max-width: 950px) {

  .about__text {
    margin-top: 40px;
    margin-bottom: 72px;
  }

  .about__title {
    max-width: 424px;
    font-size: 30px;
    line-height: 40px;
  }

  .about__avatar {
    max-width: 232px;
    max-height: 232px;
    margin-left: 40px;
    margin-right: 32px;
  }

  .about__description {
    max-width: 424px;
  }
}